@import url("https://fonts.googleapis.com/css2?family=Babylonica&family=Lora:ital@1&family=Montserrat:wght@200&family=Poppins:ital,wght@1,200&family=Roboto:wght@300&family=Work+Sans:wght@200&display=swap");

.cartContainer{
  transition: 1s ease-in-out;
  margin: 20px;
  height: auto;
  position: absolute;
  top: 40px;
  z-index: 100;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  padding: 12px;
  width: calc(40vh + 100px);
}
table { 
  border-spacing: 20px;
  width: calc(40vh + 100px);
}
.thead tr th {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: rgb(243, 8, 59);
  
}
.tbody tr td{
  font-family: "Roboto", sans-serif;
  align-self: center;
  font-size: 18px;
  text-align: center;
  width: 200px;
}
.total{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
.totalContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.emptyCart{
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: rgb(243, 8, 59);
}
.finishBuy{
  width: 200px;
  height: 40px;
  font-family:  "Roboto", sans-serif;
  cursor: pointer;
  font-size: 16px;
  padding: 4px;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid rgb(20, 20, 20);
  transition: .3s;
}
.finishBuy:hover{
  background-color: black;
  color: whitesmoke;
}